{% extends 'base.html.twig' %}
{% block title %}Pc Pas à pas - Configurateur{% endblock %}

{% block body %}
    <div id="haut" {{ vue_component('panierComponent', {'panier': panier} )}}></div>
        <a href="{{ path('configurateur') }}#configdetails" class="text-success">-> Voir votre config en détails</a>
        <hr class="color-success"/>
        <h1 class='text-center text-success'>Ajoutez des composants à votre configuration</h1>
        {% if app.user == '' %}
        <p class="text-center">Merci de vous <a href="{{ path('app_login')}}" class="">connecter</a> ou de <a href="{{ path('app_register') }}" class="">créer votre compte</a> pour sauvegarder votre configuration</p>
        {% endif %}
        {% for message in app.flashes('info') %}
            <div class="alert alert-info fixed alert-dismissible fade show">
                {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>
        {% endfor %}
        <div {{ vue_component('configurateurComponent', { 'categories' : categories, 'panier' : panier } )}}></div>
        <a href="{{ path('configurateur') }}#haut" class="text-success">-> Revenir à votre panier</a>
        <hr class="color-success"/>
        <div id="configdetails" {{ vue_component('configDetails', {'panier': panier} )}}></div>
    </div>
{% endblock %}

